body{
  font-family: 'Montserrat';
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-Black';

}

h2{
  font-size: 2rem;
  line-height: 1.5;
}

h3{
  font-size: 1.5rem;
}


p{
  color: #edf2f4;
}

/*        HEADINGS      */
.big-heading{
  font-size:2.5rem;
  line-height: 1.5;
}

#title{
  background-color: #2b2d42 ;
  color: #edf2f4   ;
}
.container-fluid{
  padding: 2% 15% 6%;

}


/* navigation bar*/
.navbar{
  padding: 0 0 4.5rem ;

}
.navbar-brand{
  font-family: 'Bangers', cursive;
  font-size: 5rem;
}
#DeadLift{
  color:#b32453   ;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';

}

/* Download Buttons */
.download-button{
  margin: 5% 5% 7% 0;
}

/* Title image */
.title-img{
  height: 23rem;
  width: 23rem;

}


/* features Section */

#features{
  padding:7% 15%;
  background-color: #8d99ae   ;
  position: relative;
}
.features1{
  background-color: #8d99ae   ;
  text-align: center;
  color: #073b4c      ;
  padding: 5%;
}
.icon{
  color: #d90429   ;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ef233c   ;
}


/* testimonial Section */


#testimonials{
 text-align: center;
 background-color: #2b2d42   ;
 color: #edf2f4;
}

.dogimg{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}

#press{
  text-align: center;
  background-color: #2b2d42   ;
  padding-bottom: 3%;
}

.press-logo{
  width: 10%;
  margin: 20px 20px 20px;
}
.carousel-item{
  padding:  7% 15%;

}

/* pricing section */

#pricing{
  padding: 7% 1%;
  text-align: center;
  background-color: #8d99ae   ;
}
.plan{
color:#ef233c;
}

.card3{
  padding: 2%;
  margin: 3%;
  background: linear-gradient(0deg, rgba(43, 45, 66, 1) 55%, rgba(7, 59, 76, 1) 89%);
  color:#e4e3e3;

}
.card3:hover{
  box-shadow: 0 0 128px 0 rgba(255, 255, 255, 0.2),
                0 32px 64px -48px rgba(255,255,255,0.25);
}
.btn-hover:active{
  width:60%;
  text-align: center;
  margin: auto;

}



/*      footer      */
#footer{
  padding: 2% 8%;
  text-align: center;
  background-color: #2b2d42;

}
.smm{
  margin:  20px 10px 0;
  color: #8d99ae;
  padding: auto auto 4px;
}
.smm:hover{
  position: relative;
  bottom: 5px;
  padding: auto auto 4px;


}
.salary{
  color: black;
  padding: 1rem 1rem 0 ;
}


/*          MEDIA QUERY      */
@media(max-width:1062px) {

  #title{
    text-align: center;
    margin: auto;

  }
  .title-img{
    position: static;
  }
  .testimonial-text{
    font-size: 2rem;
    line-height: 1;
  }
  .card3{

  }
  #pricing{
    padding:7% 15%;
    text-align: center;
  }
}
